<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{%block title%}{%endblock%}</title>

        {% load bootstrap3 %}
        {% bootstrap_css %}
        {% bootstrap_javascript jquery=1 %}

    </meta>
    <style>
        .page-header {
            margin-top: 0px;
            border-bottom: 5px solid black;
        }

        .lead {
            margin-bottom: 0px;
            padding-top: 10px;
        }
    </style>
</head>

{% load static %}

<body style="background-color: crimson;">

    <div class="page-header" style="background-color: white;">

            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4 text-center lead">DEPARTMENT OF BIOMEDICAL INFORMATICS</div>
                <div class="col-md-4"></div>
            </div>

    </div>

    {%block content%}{%endblock%}
</body>
</html>